.forgot_card{
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    padding: 35px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.forgotForm{
    padding: 10px;
    /* border: 2px solid red; */
}

.forgotForm>input{
    width: 80%;
    margin: 10px 0px;
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;

}

.forgotForm>button{
    width:80%;
    padding: 10px;
    margin-top: 20px;
    background-color:  #FF6056;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.updatePass{

}



@media only screen and (max-width: 650px){
    .forgot_card{
       
        width: 350px;
        height: 300px;
        border-radius: 5px;
        padding: 35px 10px;
    }

    .container>form>h1{
        font-size: 30px;
    }
}